body {
  margin: 0 50px;
  background-color: #131517;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-item {
  display: inline-block;
  margin-right: 5px;
}

.page-link {
  cursor: pointer;
  padding: 5px;
  color: #ffffff;
}

.active {
  border-radius: 5px;
  background-color: #23f4f9;
  color: #ffffff;
}
.row-item:nth-child(even) {
  background-color: #353537;
  border-radius: 10px;
}
